.carousel_room_container {
 display:flex;
 height:100vh;

    .img-container {
        flex-basis: 100%;
        padding-left:10%;
        width:100%;
        height:100%;
        margin-top:-5rem;

        img {
            width:100%;
            height:100%;
            object-fit:contain;
            filter: drop-shadow(4px 4px 10px #000000);
        }
    }

    .carousel_room_description {
        position:relative;
        width:60vw;
        padding-right:10rem;
        text-align:center;
        margin-top:8rem;
        h3 {
            color:$white;
            font-size:40px;
        }
        p {
            color:$white;
        }
        .btn {
            margin-top:5rem;
        }
    }
}
.carousel_room_title {
    color: $white;
    text-align:center;
    margin-top:2rem;
    margin-bottom:3rem;
    margin-left:15vw;
    margin-right:15vw;
    text-transform:uppercase;
}

.carousel_button_custom {
    font-size:150px;
    color:$purple;
    opacity:1 !important;
    text-shadow: 0 0 10px $black;
}

.dot {
    height:20px !important;
    width:20px !important;
    margin-left:5px;
    margin-right:5px;
    border-radius:100%;
}

.carousel_room_info {
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 0px 3rem;
}

.carousel_info_img_container {
height:70px;
width:70px;
margin-left:-10%;
margin-right:20px;
    img{
        height:100%;
        width:100%;
        object-fit:cover;
    }
}

.carousel_absolute {
    position:absolute;
    bottom:6rem;
    display:flex;
    flex-direction:column;

    .btn-styled {
        margin-top:1rem;
        display:inline-block;
        align-self: center;
    }
}

///////////////////////////////////MEDIA QUERY
@media (max-width: 767.98px) { 
.carousel_room_container {
    flex-direction:column;
    height:120vh;
}

.carousel_absolute {
    position:relative;
    margin-top:6rem;
}

.carousel_room_description {
    width:100% !important;
    margin-top:0px !important;
    padding-right:0px !important;
}

}