body{
    text-decoration: none;
}
.resume{
    color: white;
    background-color: black;
    text-align: center;
    padding: 5rem;
    
    h2{
        size: 69px;
        padding: 0 5rem;
    }
    p{
        size: 35px;
        margin: 3rem 10rem;
    }
    a{
        text-decoration: none;
        color: white;
        background-color: #19e4f9;
        border: 2px solid #19e4f9 ;
        border-radius: 25px;
        padding: 4px 50px;
    }
    a:hover{
        text-decoration: none;
        color: white;
        background-color: black;
    }
}