body {
    .carousel{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 550px;
        #carouselContainer{
            height: 550px;
            display: flex;
            position: relative;
            div{
                position: absolute;
                transform: translateX(-50%);
                width: 500px;
                height: 500px;
                img{
                    width: 500px;
                    height: 500px;
                }
            }
            .current{
                opacity:1;
            }
            .previousSlide{
                left: -700px;
            }
            .nextSlide{
                left: 700px;
            }
            .dispawnLeft{
                left: -1500px;
            }
            .dispawnRight{
                left: 1500px;
            }
        }
        
        button{
            margin: 15px;
            bottom: 0;
        }
    }
}