.reservation-container {
    background-image:url("../img/logo-08.jpg");
    color:$white;
    padding-top:25vh;
    background-repeat: repeat-y;
    background-size: cover;
    padding-bottom:2rem;

    .reservationFormTitle{
        margin-bottom:1rem;
    }

    .reservation-main-flex {
        display:flex;
        justify-content:space-between;

        .reservation-title {
            margin-left:5rem;
            h1 {
                font-size:50px;
                text-transform: uppercase;
            }
            p {
                font-size:15px;
            }
        }

        .reservation-col-flex {
            display:flex;
            flex-direction:column;
            margin-right:5rem;
            width:25vw;

                .btn-styled {
                    align-self: center;
                    margin-bottom:1rem;
                }
        }

        .reservation-sub-flex {
            display:flex;

            label img {
                height:100%;
                width:100%;
            }
        }
        .reservation-sub-flex2 {
            display:flex;
            justify-content:space-between;
        }
    }
}

.reservationLabel {
    border-radius: 5px 0px 0px 5px;
    height:2rem;
    width:2rem;
    background-color:$purple;
}

.reservationSelect {
    border-radius: 0px 5px 5px 0px;
    height:2rem;
    width:100%;
}

.reservationSelectHalf {
    border-radius: 0px 5px 5px 0px;
    height:2rem;
    width:75%;
}

.reservationDivider {
    margin:0.5rem 0rem;
}

.reservation-timestamp-flex {
display:flex;
flex-wrap: wrap;
justify-content:space-between;
margin-top:1rem;
margin-bottom:1rem;
}

.timestampBtn {
background-color:$white;
color:#1B6AA3;
padding:0.5rem 0.75rem;
margin:0.2rem 0.2rem;
border-radius:5px;
cursor:pointer;

    &:hover {
        background-color:#1B6AA3;
        color:$white;
    }
}

.reservationInput {
    border-radius: 5px;
    height:2rem;
    margin:0.25rem;
}

.img-recu {
    position:absolute;
    left:35%;
    width:30%;
}

.img-phone {
width:100%;
}

@media (max-width: 767.98px) { 
.reservation-title{
    display:none !important;
}
.reservation-main-flex{
    justify-content:center !important;
    
}
.reservation-col-flex{
    width:50vw !important;
}
}
