#section4 {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background:whitesmoke;

    & > div {
    display: grid;
    grid-template-rows: 60% 1fr;
    flex: 1 0 20%;
    min-width: 150px;
    max-width: 450px; 
    margin: 10px;
    background-color: rgb(64, 192, 224);
    border-radius: 8px;
    padding: 20px 20px 20px;
    box-shadow: 0 1px 10px rgba(53, 52, 52, 0.411);
    
    #img1 {
        background: url(../img/illustration_groupe.jpg) center/cover;
        
        
    }
    
}
}
