<<<<<<< HEAD

$black : black;
$gray : #4c4c4c;
$darkblue : #050564;
$white : white;
$cyan : #19e4f9;
$purple : #8C2AFF;
=======
$black : black;
$grey : #4c4c4c;
$dackBlue: #050564;
$white : white; 
$lightblue: #19e4f9;
$violet: #8C2AFF;
>>>>>>> frank
