@font-face {
  font-family: "Stardos";
  src: url(../fonts/StardosStencil-Bold.ttf);
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Franklin";
  src: url(../fonts/Lato-Bold.ttf);
}
h1 {
  font-size: 121px;
  font-family: "Stardos";
}

h2 {
  font-size: 69px;
  font-family: "Stardos";
}

h3 {
  font-size: 64px;
  font-family: "Franklin";
}

.mobile-subtitle {
  font-size: 36px;
}

p {
  font-size: 20px;
  font-family: "Lato";
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 13px;
  }
}
@keyframes navDown {
  0% {
    opacity: 0.3;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes navAnimeIn {
  0% {
    right: -150%;
  }
  100% {
    right: 0;
  }
}
@keyframes navAnimeOut {
  0% {
    right: 0;
  }
  100% {
    right: -150%;
  }
}
.burgerMenue {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
  z-index: 151;
  animation: navDown 2s forwards;
}
@media screen and (max-width: 576px) {
  .burgerMenue {
    display: flex;
    flex-direction: column;
  }
}
.burgerMenue div {
  background: #000;
  height: 5px;
  width: 35px;
  margin: 5px;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.82);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 150;
  height: 120px;
  animation: navDown 2s forwards;
}
@media screen and (max-width: 576px) {
  nav {
    height: 70px;
  }
}
nav .logo {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
}
@media screen and (max-width: 576px) {
  nav .logo {
    width: 50px;
    height: 50px;
  }
}
nav .logo img {
  width: 65%;
}
nav .navContainer {
  width: 100%;
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 576px) {
  nav .navContainer {
    background: black;
    width: 110%;
    right: -150%;
    height: 50vh;
    top: 0px;
    position: absolute;
  }
}
nav .navContainer .nav {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  z-index: 11;
  font-family: "Lato";
  font-size: 1.5rem;
  font-weight: bold;
}
nav .navContainer .nav .bigHide {
  display: none;
  padding: 5px;
}
nav .navContainer .nav .bigHide div {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
nav .navContainer .nav .bigHide .facebook {
  font-size: 0.9rem;
  background-color: #8C2AFF;
  color: black;
}
nav .navContainer .nav .bigHide .twitch {
  font-size: 1.25rem;
  background-color: red;
  color: black;
}
@media screen and (max-width: 950px) {
  nav .navContainer .nav {
    width: 90%;
    font-size: 1.15rem;
  }
}
@media screen and (max-width: 690px) {
  nav .navContainer .nav {
    font-size: 13px;
  }
}
@media screen and (max-width: 576px) {
  nav .navContainer .nav {
    height: 70%;
    flex-direction: column;
    padding: 15px;
    align-items: end;
    justify-content: end;
    transform: translateY(50px);
  }
  nav .navContainer .nav .bigHide {
    display: flex;
  }
  nav .navContainer .nav li:hover {
    color: white !important;
  }
}
nav .navContainer .nav li {
  color: #707070;
  transition: 0.3s;
}
nav .navContainer .nav li .newRoom {
  position: relative;
}
nav .navContainer .nav li .new {
  color: red;
  font-size: 8px;
  position: absolute;
  top: 0px;
  right: -20px;
}
nav .navContainer .nav li:hover {
  color: black;
}
nav .navContainer .nav #rooms {
  position: relative;
}
nav .navContainer .nav #rooms .under {
  display: none;
  padding: 0;
  width: 550%;
  padding-top: 60%;
}
nav .navContainer .nav #rooms .under li {
  color: white;
}
nav .navContainer .nav #rooms .under li:hover {
  color: #19e4f9;
}
nav .navContainer .nav #rooms:hover .under {
  position: absolute;
  top: 100%;
  display: block;
  text-align: left;
}
nav .navContainer .nav #rooms:hover {
  display: flex;
}
nav .navContainer #close {
  display: none;
  border: 2px solid #19e4f9;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  position: absolute;
  color: #19e4f9;
  z-index: 15;
  top: 5px;
  right: 15px;
}
@media screen and (max-width: 576px) {
  nav .navContainer #close {
    display: inherit;
  }
}
nav .navContainer #close .closeContainer div {
  background: #19e4f9;
  height: 3px;
  width: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  animation: navAnimeIn 2s s;
}
nav .navContainer #close .closeContainer .left {
  transform: translate(-50%, -50%) rotate(45deg);
}
nav .navContainer #close .closeContainer .right {
  transform: translate(-50%, -50%) rotate(-45deg);
}

footer {
  background: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
@media (max-width: 767.98px) {
  footer {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 30% 1fr;
    grid-template-areas: "logo" "reseau" "nav";
  }
  footer .logoFooterContainer {
    grid-area: logo;
  }
  footer .logoReseau {
    grid-area: reseau;
  }
  footer .navFooterContainer {
    grid-area: nav;
  }
}
@media (max-width: 550px) {
  footer {
    grid-template-rows: 1fr 20% 1fr;
  }
}
footer .navFooterContainer {
  display: flex;
  justify-content: center;
}
footer .navFooterContainer #navFooter {
  margin: 0;
  padding: 0;
  color: #4c4c4c;
  font-family: "Lato";
  font-size: 1.4rem;
  font-weight: 600;
  text-align: left;
}
footer .navFooterContainer #navFooter li:hover {
  cursor: pointer;
  color: white;
}
@media (max-width: 767.98px) {
  footer .navFooterContainer #navFooter {
    text-align: center;
  }
}
footer .logoFooterContainer {
  background: white;
  border-radius: 150px;
  width: 180px;
  height: 180px;
  margin: 0 auto;
}
footer .logoFooterContainer #logoFooter {
  width: 85%;
}
footer #logoReseau {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
footer #logoReseau li {
  width: 15%;
  margin: 20px;
}
footer #logoReseau li:hover {
  cursor: pointer;
  transition: 0.2s;
}

footer::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background: #19e4f9;
}

@keyframes fogDown {
  0% {
    transform: translateY(0%);
    opacity: 0.3;
  }
  100% {
    transform: translateY(20%);
    opacity: 1;
  }
}
@keyframes hangarUp {
  0% {
    opacity: 0.3;
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes titleUp {
  0% {
    z-index: 8;
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    z-index: 15;
  }
}
header {
  height: 100vh;
}
header .headerContainer {
  overflow: hidden;
  z-index: 10;
  height: 100%;
}
header .headerContainer .titleContainer {
  position: absolute;
  z-index: 15;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: titleUp 2s forwards;
}
@media screen and (max-width: 576px) {
  header .headerContainer .titleContainer {
    font-size: 31px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50%;
    z-index: 10;
  }
}
header .headerContainer .titleContainer h1 {
  color: white;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold !important;
  font-size: 81px;
  letter-spacing: 3px;
}
@media screen and (max-width: 1000px) {
  header .headerContainer .titleContainer h1 {
    font-size: 61px;
  }
}
@media screen and (max-width: 800px) {
  header .headerContainer .titleContainer h1 {
    font-size: 41px;
  }
}
@media screen and (max-width: 576px) {
  header .headerContainer .titleContainer h1 {
    font-size: 31px;
  }
}
header .headerContainer div {
  position: absolute;
  width: 100%;
  height: 100%;
}
header .headerContainer .sky {
  background: url(../img/ciel-nuageux.png) center/cover;
  z-index: 7;
}
header .headerContainer .hangarContainer {
  overflow: hidden;
  animation: hangarUp 2s forwards;
  z-index: 10;
}
@media screen and (max-width: 576px) {
  header .headerContainer .hangarContainer {
    animation: none;
  }
}
header .headerContainer .hangarContainer .hangardesckt {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 576px) {
  header .headerContainer .hangarContainer .hangardesckt {
    width: 100%;
    bottom: 0;
    display: none;
  }
}
header .headerContainer .hangarContainer .hangar {
  display: none;
}
@media screen and (max-width: 576px) {
  header .headerContainer .hangarContainer .hangar {
    width: 100%;
    bottom: 0;
    display: flex;
    position: absolute;
  }
}
header .headerContainer .fogContainer {
  overflow: hidden;
  z-index: 15;
}
header .headerContainer .fogContainer .fog {
  background: url(../img/brouillard.png);
  height: 100%;
  bottom: 0;
  animation: fogDown 2s forwards;
}
header .headerContainer .streetLamp {
  background: url(../img/lampadaire.png) left/cover;
  width: 100%;
  z-index: 11;
}

.carousel_room_container {
  display: flex;
}

.contactTop {
  background: url(../img/logo-08.jpg) center/cover;
  padding-top: 100px;
}

.contactHeader {
  max-width: 25%;
  padding-top: 50px;
  margin-left: 50px;
}
.contactHeader h3 {
  font-family: "Stardos";
  color: white;
  font-size: 3rem;
  font-weight: 900;
  line-height: 30px;
}
.contactHeader p {
  font-size: 1rem;
  color: white;
}

.formContainer {
  background: black;
  width: 40%;
  margin: 0 auto;
  padding: 20px 10px 50px;
  border-radius: 20px;
  z-index: 10;
  transform: translateY(50px);
  position: relative;
}
@media screen and (max-width: 850px) {
  .formContainer {
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  .formContainer {
    width: 90%;
  }
}
.formContainer form {
  display: grid;
  width: 90%;
  margin: 0 auto;
  gap: 10px;
}
.formContainer form > input {
  border-radius: 10px;
  border: none;
  padding: 10px;
}
.formContainer form textarea {
  border-radius: 10px;
  border: none;
  padding: 10px;
}
.formContainer form #valid {
  width: 150px;
  border-radius: 50px;
  background-color: #19e4f9;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 20px 0 0;
  border: 2px solid #19e4f9;
}
@media screen and (max-width: 576px) {
  .formContainer form #valid {
    margin: 20px auto 0;
    width: 90%;
  }
}
.formContainer form #valid:hover {
  background: black;
  color: #19e4f9;
}

.contactFooter {
  background: #8c2aff;
  min-height: 75vh;
  display: flex;
  align-items: center;
}
.contactFooter .contactFooterContainer {
  width: 90%;
  margin: 0 auto;
  color: white;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
.contactFooter .contactFooterContainer h3 {
  font-size: 3rem;
  font-family: "stardos";
  padding-bottom: 40px;
}
.contactFooter .contactFooterContainer h4 {
  padding-bottom: 40px;
}
.contactFooter .contactFooterContainer p {
  font-size: 0.8rem;
}
@media screen and (max-width: 850px) {
  .contactFooter .contactFooterContainer h3 {
    font-size: 2rem;
  }
  .contactFooter .contactFooterContainer h4 {
    font-size: calc(1rem + 0.3vw);
  }
  .contactFooter .contactFooterContainer p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 576px) {
  .contactFooter .contactFooterContainer {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.contactFooter .contactFooterContainer .googleMap {
  width: 45%;
  display: flex;
  align-items: center;
}
.contactFooter .contactFooterContainer .googleMap iframe {
  width: 100%;
  height: 80%;
}
@media screen and (max-width: 576px) {
  .contactFooter .contactFooterContainer .googleMap {
    width: 90%;
    height: 450px;
  }
}
.contactFooter .contactFooterContainer .adresse {
  margin: 50px 0 0;
  width: 20%;
  padding-left: 15px;
}
.contactFooter .contactFooterContainer .adresse h4 {
  padding: 0;
}
.contactFooter .contactFooterContainer .adresse .line {
  max-width: 150px;
  width: 70%;
  height: 2px;
  background: white;
  border-radius: 50px;
  margin: 20px 0;
}
@media screen and (max-width: 576px) {
  .contactFooter .contactFooterContainer .adresse {
    width: 90%;
  }
}
.contactFooter .contactFooterContainer .horaires {
  text-align: right;
  width: 35%;
}
@media screen and (max-width: 576px) {
  .contactFooter .contactFooterContainer .horaires {
    width: 90%;
  }
}
.contactFooter .contactFooterContainer .horaires .localizationContainer {
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 576px) {
  .contactFooter .contactFooterContainer .horaires .localizationContainer {
    justify-content: space-between;
  }
}
.contactFooter .contactFooterContainer .horaires .localizationContainer .localizationLogo {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 576px) {
  .contactFooter .contactFooterContainer .horaires .localizationContainer .localizationLogo {
    width: 90%;
  }
}
.contactFooter .contactFooterContainer .horaires .localizationContainer .localizationLogo img {
  width: 100%;
}
.contactFooter .contactFooterContainer .horaires .localizationContainer .day {
  display: flex;
  flex-direction: column;
}
.contactFooter .contactFooterContainer .horaires .localizationContainer .day div {
  height: 60px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 576px) {
  .contactFooter .contactFooterContainer .horaires .localizationContainer .day div {
    height: 80px;
  }
}
.contactFooter .contactFooterContainer .horaires .localizationContainer .day div .period {
  font-weight: 600;
}
@media screen and (max-width: 576px) {
  .contactFooter .contactFooterContainer .horaires {
    width: 90%;
  }
}

.rooms {
  padding-top: 150px;
  background: black;
  color: white;
  text-align: center;
  min-height: 100vh;
}
.rooms .video {
  width: 50%;
  max-width: 1150px;
  height: 500px;
  transform: translateX(50%);
  position: relative;
}
.rooms iframe {
  width: 100%;
  height: 100%;
}
.rooms .infosSalles {
  position: absolute;
  top: 50%;
  right: -200px;
  transform: translateY(-50%);
}
.rooms .infosSalles .infoPeople {
  display: flex;
  align-items: center;
}
.rooms .infosSalles .infoTime {
  display: flex;
  align-items: center;
}
.rooms .infosSalles .littleImage {
  width: 70px;
  height: 70px;
}
.rooms .infosSalles .littleImage img {
  width: 100%;
  height: 100%;
}
.rooms .btn-reserv {
  margin-top: 65px;
  font-size: 21px;
  font-family: "Lato";
  text-decoration: none;
  color: white !important;
  background-color: #19e4f9;
  border: 2px solid #19e4f9;
  border-radius: 25px;
  padding: 10px 50px;
}
.rooms .btn-reserv:hover {
  text-decoration: none;
  color: #19e4f9 !important;
  background-color: black;
  box-shadow: 0px 0px 40px #19e4f9;
}

/*# sourceMappingURL=style.css.map */
